.btn{
  display: inline-block;
  box-sizing: border-box;
  transition: .5s;
  text-transform: uppercase;
  font-family: 'IdealistSans';
  cursor: pointer;
  &_s{
	height: 34px;
	padding: 0 30px;
	border-radius: 17px;
	font-size: 12px;
	line-height: 34px;
  }
  &_m{
	height: 46px;
	padding: 0 40px;
	border-radius: 23px;
	font-size: 14px;
	line-height: 46px;
  }
  &_l{
	height: 49px;
	padding: 0 48px;
	border-radius: 25px;
	font-size: 16px;
	line-height: 49px;
  }
  &_80{
	padding: 0 80px;
  }
}
.btn-green{
  background-color: $green-21;
  background-image: linear-gradient(180deg, rgba(252, 252, 252, 0.07) 0%, transparent 100%);
  color: $white;
  &:hover,
  &:focus{
	background-color: $green-06;
  }
  &:active{
	background-color: $green-21;
	box-shadow: 0 6px 7px rgba(6, 129, 25, 0.4);
  }
}
.btn-green2{
  background-color: $green-0a;
  background-image: linear-gradient(180deg, rgba(252, 252, 252, 0.07) 0%, transparent 100%);
  box-shadow: 0 3px 5px rgba(1, 103, 26, 0.3);
  color: $white;
}
.btn-white{
  background-color: $gb-1;
  border: 1px solid $green-21;
  color: $green-21;
  &:hover,
  &:focus{
	background-color: $gb-2;
  }
  &:active{
	background-color: $gb-1;
	background-image: linear-gradient(180deg, rgba(252, 252, 252, 0.07) 0%, transparent 100%);
	box-shadow: 0 6px 7px rgba(6, 129, 25, 0.4);
  }
}
.btn-red{
  background-color: $red-fc;
  background-image: linear-gradient(180deg, rgba(252, 252, 252, 0.07) 0%, transparent 100%);
  box-shadow: 0 3px 5px rgba(173, 33, 0, 0.3);
  color: $white;
  border-width:0;
  &:hover,
  &:focus{
	background-color: $red-ea;
  }
  &:active{
	background-color: $red-fc;
  }
}