.input{
  height: 46px;
  border-radius: 23px;
  box-sizing: border-box;
  padding: 0 20px;
  line-height: 46px;
  font-family: 'IdealistSans';
  font-size: 18px;
  transition: .5s;
  width: 100%;
  &_gray{
	background-color: $white;
	border: 1px solid $gray-c9;
	&:focus{
	  border-color: $green-21;
	}
  }
  &_green{
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid $white;
	color: $white;
	&::placeholder{
	  color: $white;
	}
	&:focus{
	  background-color: transparent;
	}
  }
}
.textarea{
  border-radius: 23px;
  box-sizing: border-box;
  padding: 10px 20px;
  line-height: 20px;
  font-family: 'IdealistSans';
  font-size: 18px;
  transition: .5s;
  width: 100%;
  &_gray{
	background-color: $white;
	border: 1px solid $gray-c9;
	&:focus{
	  border-color: $green-21;
	}
  }
  &_green{
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid $white;
	color: $white;
	&::placeholder{
	  color: $white;
	}
	&:focus{
	  background-color: transparent;
	}
  }
}
.form{
  &__row{
	display: flex;
	margin-bottom: 30px;
  }
  &__col{
	flex: 0 0 auto;
	margin-right: 33px;
	&:last-of-type{
	  margin-right: 0;
	}
  }
  &__label{
	display: flex;
	margin-bottom: 17px;
	padding-left: 10px;

  }
  &__checkbox{
	display: flex;
  }
}
.checkbox{
  flex: 0 0 auto;
  width: 30px;
}
.checkbox-label{
  flex: 1 1 auto;
  font-size: 12px;
  line-height: 16px;
  font-family: 'IdealistSans';
  a{
	text-decoration: underline;
	&:hover{
	  text-decoration: none;
	}
  }
  &_gray{
	color: $gray-a0;
	a{
	  color: $blue-27;
	}
  }
  &_green{
	color: $white;
	a{
	  color: $white;
	}
  }
}

.label-ttl{
  font: 16px/18px "IdealistSans";
  margin-right: 10px;
  text-transform: uppercase;
  &_gray{
	color: $gray-4e;
  }
  &_green{
	color: $white;
  }
}
.label-req{
  font: 11px/16px "IdealistSans";
  &_gray{
	color: $gray-4e;
	opacity: 0.53;
  }
  &_green{
	color: $white;
	opacity: 0.3;
  }
}
.send-icon{
  background-image: url('images/white-send.png');
  background-repeat: no-repeat;
  background-position-y: center;
  display: inline-block;
  padding-left: 25px;
}
.value{
  width: 97px;
  height: 34px;
  background-color: $gray-f4;
  background-image: linear-gradient(to top, rgba(252, 252, 252, 0.07) 0%, transparent 100%);
  border: 1px solid $gray-de;
  border-radius: 17px;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: $gray-ad;
  padding-left: 20px;
  padding-right: 15px;
  box-sizing: border-box;
  &_m{
	width: 92px;
	height: 46px;
	background-color: $white;
	border-radius: 23px;
  }
}