//colors
$black: #000;
$white: #fff;

$gray-bf: #bfbfbf;
$gray-56: #565656;
$gray-de: #dedede;
$gray-6b: #6b6b6b;
$gray-b7: #b7b7b7;
$gray-4e: #4e4e4e;
$gray-89: #898989;
$gray-04: #040707;
$gray-bd: #bdbdbd;
$gray-e5: #e5e5e5;

$green-21: #219a34;
$green-06: #06851a;
$green-15: #15732d;
$green-0a: #0a8f17;
$green-24: #24a439;
$green-0e: #0e941c;

$gb-1: #f3f5f8;
$gb-2: #e4ebf5;

$red-fc: #fc542d;
$red-ea: #ea3005;