//colors
$black: #000;
$white: #fff;

$gray-bf: #bfbfbf;
$gray-56: #565656;
$gray-de: #dedede;
$gray-6b: #6b6b6b;
$gray-b7: #b7b7b7;
$gray-4e: #4e4e4e;

$green-21: #219a34;
$green-06: #06851a;
$green-15: #15732d;

$gb-1: #f3f5f8;
$gb-2: #e4ebf5;