.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  &__prev,
  &__next{
	background-image: url('images/pagination.png');
	width: 8px;
	height: 12px;
  }
  &__prev{
	margin-right: 80px;
  }
  &__next{
	margin-left: 80px;
	background-position: -8px 0;
  }
  &__pages{

  }
  &__page{
	font-size: 24px;
	line-height: 24px;
	font-family: 'Lato';
	font-weight: bold;
	color: $gray-ad;
	text-decoration: underline;
	margin: 0 8px;
	&_active{
	  text-decoration: none;
	  color: $red-fc;
	}
	&:hover{
	  text-decoration: none;
	}
  }
}