footer.footer
    .container
        .footer-wrapper
            .footer-left
                .footer-logo-w
                    a.footer-logo(href="#")
                    .footer-slogan.
                        Упаковочные  и  расходные<br>
                        <span>материалы  для  Вас</span><br>
                        и  вашего  бизнеса
                .footer-contacts-w
                    .footer-addr.
                        Выучейского 57, корп. 2<br>
                        главный офис<br>
                        <a href="mailto:zur@upakovka29.ru">zur@upakovka29.ru</a>
                    .footer-tel.
                        (8182) 66-11-55<br>
                        (8182) 66-10-86
                    .footer-d.
                        пн-пт:
                        сб:
                    .footer-wh.
                        09:00 - 17:30<br>
                        10:00 - 14:00
            .footer-right
                .footer-right-l1
                    .footer-menu-w
                        ul.footer-menu
                            each i in footerNav
                                +footerMenu(i.url, i.name, activeMenu)
                    .footer-ss-w
                        .footer-ss
                            .footer-ss__ttl следуйте за нами в соцсетях
                            .footer-ss__items
                                a.footer-ss__item(href="#" style="background-image: url('images/f-vk.png');" target="_blank")
                                a.footer-ss__item(href="#" style="background-image: url('images/f-ins.png');" target="_blank")
                                a.footer-ss__item(href="#" style="background-image: url('images/f-facebook.png');" target="_blank")
                                a.footer-ss__item(href="#" style="background-image: url('images/f-twitter.png');" target="_blank")
                .footer-right-l2
                    .f5
                        .f5__ttl Создание сайта
                        a.f5__link(href="f5-studio.ru" target="_blank") Digital-Агентство F5
