extends core/_template

append sharedVars
    - var activeMenu = 'Каталог';

block title
    title Каталог

block content
    //workarea
    .workarea
        .container
            .breadcrumbs
                .breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link_home(href="/")
                .breadcrumbs__item
                    a.breadcrumbs__link(href="/") каталог
                .breadcrumbs__item
                    a.breadcrumbs__link(href="/") ОДНОРАЗОВАЯ УПАКОВКА
                .breadcrumbs__current
                    span Упаковка, принадлежности для суши
            //end .breadcrumbs
        .container-h
            .inner-page
                .with-menu
                    .l-menu
                        ul.categories-menu
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span пакеты, пленки, лотки
                            ul.categories-submenu
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Наборы одноразовой посуды
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Тарелки
                                li.categories-submenu__item
                                    a.categories-submenu__link.active(href="#") Упаковка, принадлежности для суши
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Столовые приборы
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Зубочистки, палочки для шашлыка, палочки для еды
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Стаканы, стопки, чашки
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Берестяные лукошки
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Упаковка для фаст-фуда
                            li.categories-menu__item.active
                                a.categories-menu__link.categories-menu__link_sub(href="#")
                                    span одноразовая посуда
                                ul.categories-submenu
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Наборы одноразовой посуды
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Тарелки
                                    li.categories-submenu__item
                                        a.categories-submenu__link.active(href="#") Упаковка, принадлежности для суши
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Столовые приборы
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Зубочистки, палочки для шашлыка, палочки для еды
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Стаканы, стопки, чашки
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Берестяные лукошки
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Упаковка для фаст-фуда
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span ящики, пластиковые банки и емкости
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span скотчи, липкие ленты
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span уборочный инвентарь
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span салфетки, скатерти
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span бытовая химия
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span хозяйственные товары
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span продукция для медицины, салонов красоты и парикмахерских
                    //end .l-menu
                    .r-content
                        .subcategory
                            .subcategory__head
                                .subcategory__h
                                    h1 Упаковка, принадлежности  для суши
                                .subcategory__quant
                                    a.subcategory__quant-i.active(href="#") 15
                                    a.subcategory__quant-i(href="#") 30
                                    a.subcategory__quant-i(href="#") 50
                                    a.subcategory__quant-i(href="#") 100
                                .subcategory__view
                                    a.subcategory__view-i.subcategory__view-grid.active(href="#")
                                    a.subcategory__view-i.subcategory__view-list(href="#")
                            //end .subcategory__head
                            .subcategory__body
                                .subcategory__item
                                    a.subcategory__i-img(href="#" style="background-image:url('images/TEMP/c1.png')")
                                    .subcategory__i-body
                                        .subcategory__i-inf
                                            a.subcategory__i-ttl(href="#")  Одноразовая тарелка 7’’
                                            .subcategory__i-art 347RP10WHSS
                                        .subcategory__i-price
                                            span.price.subcategory__int 3.
                                            span.price.subcategory__kop 96
                                            span.rub.subcategory__rub И
                                            span.sep.subcategory__sep /
                                            span.st.subcategory__st шт
                                    .subcategory__i-footer
                                        form.to-basket
                                            .to-basket__input
                                                input.value(type="number" min="1" value="10")
                                            .to-basket__btn
                                                button.btn.btn_s.btn-green(type="submit") В корзину
                                //end .subcategory__item
                                .subcategory__item
                                    a.subcategory__i-img(href="#" style="background-image:url('images/TEMP/c2.png')")
                                    .subcategory__i-body
                                        .subcategory__i-inf
                                            a.subcategory__i-ttl(href="#")  Одноразовая тарелочка для кекса
                                            .subcategory__i-art 347RP10WHSS
                                        .subcategory__i-price
                                            span.price.subcategory__int 3.
                                            span.price.subcategory__kop 96
                                            span.rub.subcategory__rub И
                                            span.sep.subcategory__sep /
                                            span.st.subcategory__st шт
                                    .subcategory__i-footer
                                        form.to-basket
                                            .to-basket__input
                                                input.value(type="number" min="1" value="10")
                                            .to-basket__btn
                                                button.btn.btn_s.btn-green(type="submit") В корзину
                                //end .subcategory__item
                                .subcategory__item
                                    a.subcategory__i-img(href="#" style="background-image:url('images/TEMP/c3.png')")
                                    .subcategory__i-body
                                        .subcategory__i-inf
                                            a.subcategory__i-ttl(href="#")  Одноразовый лоток прямоугольный
                                            .subcategory__i-art 347RP10WHSS
                                        .subcategory__i-price
                                            span.price.subcategory__int 3.
                                            span.price.subcategory__kop 96
                                            span.rub.subcategory__rub И
                                            span.sep.subcategory__sep /
                                            span.st.subcategory__st шт
                                    .subcategory__i-footer
                                        form.to-basket
                                            .to-basket__input
                                                input.value(type="number" min="1" value="10")
                                            .to-basket__btn
                                                button.btn.btn_s.btn-green(type="submit") В корзину
                                //end .subcategory__item
                                .subcategory__item
                                    a.subcategory__i-img(href="#" style="background-image:url('images/TEMP/1.jpg')")
                                    .subcategory__i-body
                                        .subcategory__i-inf
                                            a.subcategory__i-ttl(href="#")  Одноразовая тарелка 7’’
                                            .subcategory__i-art 347RP10WHSS
                                        .subcategory__i-price
                                            span.price.subcategory__int 3.
                                            span.price.subcategory__kop 96
                                            span.rub.subcategory__rub И
                                            span.sep.subcategory__sep /
                                            span.st.subcategory__st шт
                                    .subcategory__i-footer
                                        form.to-basket
                                            .to-basket__input
                                                input.value(type="number" min="1" value="10")
                                            .to-basket__btn
                                                button.btn.btn_s.btn-green(type="submit") В корзину
                                //end .subcategory__item
                                .subcategory__item.action
                                    a.subcategory__i-img(href="#" style="background-image:url('images/TEMP/c4.png')")
                                    .subcategory__i-body
                                        .subcategory__i-inf
                                            a.subcategory__i-ttl(href="#")  Одноразовая тарелка 7’’
                                            .subcategory__i-art 347RP10WHSS
                                        .subcategory__i-price
                                            span.subcategory__i-price-old
                                                span.price.subcategory__int 3000.
                                                span.price.subcategory__kop 96
                                            span.subcategory__i-price-new
                                                span.price.subcategory__int 3.
                                                span.price.subcategory__kop 96
                                                span.rub.subcategory__rub И
                                                span.sep.subcategory__sep /
                                                span.st.subcategory__st шт
                                    .subcategory__i-footer
                                        form.to-basket
                                            .to-basket__input
                                                input.value(type="number" min="1" value="10")
                                            .to-basket__btn
                                                button.btn.btn_s.btn-green(type="submit") В корзину
                                //end .subcategory__item
                                - for (var i=1; i<=10; i++) {
                                    .subcategory__item
                                        a.subcategory__i-img(href="#" style="background-image:url('images/TEMP/c1.png')")
                                        .subcategory__i-body
                                            .subcategory__i-inf
                                                a.subcategory__i-ttl(href="#")  Одноразовая тарелка 7’’
                                                .subcategory__i-art 347RP10WHSS
                                            .subcategory__i-price
                                                span.price.subcategory__int 3.
                                                span.price.subcategory__kop 96
                                                span.rub.subcategory__rub И
                                                span.sep.subcategory__sep /
                                                span.st.subcategory__st шт
                                        .subcategory__i-footer
                                            form.to-basket
                                                .to-basket__input
                                                    input.value(type="number" min="1" value="10")
                                                .to-basket__btn
                                                    button.btn.btn_s.btn-green(type="submit") В корзину
                                    //end .subcategory__item
                                - }
                            //end .subcategory__body
                            .subcategory__pagination
                                .pagination
                                    a.pagination__prev(href="#")
                                    .pagination__pages
                                        a.pagination__page.pagination__page_active(href="#") 1
                                        a.pagination__page(href="#") 2
                                        a.pagination__page(href="#") 3
                                        span.pagination__page.pagination__page_span ...
                                        a.pagination__page(href="#") 9
                                    a.pagination__next(href="#")
                                //end .pagination
                            //end .subcategory__pagination
                        //end .subcategory
                    //end .r-content
                //end .with-menu
            //end .inner-page
    //end workarea