extends core/_template

append sharedVars
    - var activeMenu = 'Каталог';

block title
    title Каталог

block content
    //workarea
    .workarea
        .container
            .breadcrumbs
                .breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link_home(href="/")
                .breadcrumbs__item
                    a.breadcrumbs__link(href="/") каталог
                .breadcrumbs__item
                    a.breadcrumbs__link(href="/") ОДНОРАЗОВАЯ УПАКОВКА
                .breadcrumbs__current
                    span Упаковка, принадлежности для суши
            //end .breadcrumbs
        .container-h
            .inner-page
                .with-menu
                    .l-menu
                        ul.categories-menu
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span пакеты, пленки, лотки
                            ul.categories-submenu
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Наборы одноразовой посуды
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Тарелки
                                li.categories-submenu__item
                                    a.categories-submenu__link.active(href="#") Упаковка, принадлежности для суши
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Столовые приборы
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Зубочистки, палочки для шашлыка, палочки для еды
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Стаканы, стопки, чашки
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Берестяные лукошки
                                li.categories-submenu__item
                                    a.categories-submenu__link(href="#") Упаковка для фаст-фуда
                            li.categories-menu__item.active
                                a.categories-menu__link(href="#")
                                    span одноразовая посуда
                                ul.categories-submenu
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Наборы одноразовой посуды
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Тарелки
                                    li.categories-submenu__item
                                        a.categories-submenu__link.active(href="#") Упаковка, принадлежности для суши
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Столовые приборы
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Зубочистки, палочки для шашлыка, палочки для еды
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Стаканы, стопки, чашки
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Берестяные лукошки
                                    li.categories-submenu__item
                                        a.categories-submenu__link(href="#") Упаковка для фаст-фуда
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span ящики, пластиковые банки и емкости
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span скотчи, липкие ленты
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span уборочный инвентарь
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span салфетки, скатерти
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span бытовая химия
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span хозяйственные товары
                            li.categories-menu__item
                                a.categories-menu__link(href="#")
                                    span продукция для медицины, салонов красоты и парикмахерских
                    //end .l-menu
                    .r-content
                        .subcategory
                            .subcategory__head
                                .subcategory__h
                                    h1 Упаковка, принадлежности  для суши
                                .subcategory__quant
                                    a.subcategory__quant-i.active(href="#") 15
                                    a.subcategory__quant-i(href="#") 30
                                    a.subcategory__quant-i(href="#") 50
                                    a.subcategory__quant-i(href="#") 100
                                .subcategory__view
                                    a.subcategory__view-i.subcategory__view-grid.active(href="#")
                                    a.subcategory__view-i.subcategory__view-list(href="#")
                            //end .subcategory__head
                            .subcategory__body-list
                                .list-item.action
                                    .list-item__img(style="background-image:url('images/TEMP/c1.png')")
                                    .list-item__info
                                        .list-item__info-h
                                            .list-item__ttl Одноразовая тарелка 7’’
                                            .list-item__art 347RP10WHSS
                                        .list-item__info-b
                                            .list-item__info-l.
                                                Артикул:<br>
                                                Материал:<br>
                                                Объем:<br>
                                                Размер:<br>
                                            .list-item__info-r.
                                                SM-400<br>
                                                сахарный тростник<br>
                                                400 мл.<br>
                                                160*36 мм.<br>
                                    .list-item__buy
                                        .list-item__price
                                            span.subcategory__i-price-new
                                                span.price.list-item__int 3.
                                                span.price.list-item__kop 96
                                                span.rub.list-item__rub И
                                                span.sep.list-item__sep /
                                                span.st.list-item__st шт
                                            br
                                            span.subcategory__i-price-old
                                                span.price.list-item__int 3.
                                                span.price.list-item__kop 96
                                        .list-item__to-basket
                                            .list-item__count
                                                input.value(type="number" min="1" value="10")
                                            .list-item__btn
                                                button.btn.btn_s.btn-green(type="submit") В корзину
                                //end .list-item
                                - for (var i=1; i<=10; i++) {
                                    .list-item
                                        .list-item__img(style="background-image:url('images/TEMP/c1.png')")
                                        .list-item__info
                                            .list-item__info-h
                                                .list-item__ttl Одноразовая тарелка 7’’
                                                .list-item__art 347RP10WHSS
                                            .list-item__info-b
                                                .list-item__info-l.
                                                    Артикул:<br>
                                                    Материал:<br>
                                                    Объем:<br>
                                                    Размер:<br>
                                                .list-item__info-r.
                                                    SM-400<br>
                                                    сахарный тростник<br>
                                                    400 мл.<br>
                                                    160*36 мм.<br>
                                        .list-item__buy
                                            .list-item__price
                                                span.price.list-item__int 3.
                                                span.price.list-item__kop 96
                                                span.rub.list-item__rub И
                                                span.sep.list-item__sep /
                                                span.st.list-item__st шт
                                            .list-item__to-basket
                                                .list-item__count
                                                    input.value(type="number" min="1" value="10")
                                                .list-item__btn
                                                    button.btn.btn_s.btn-green(type="submit") В корзину
                                    //end .list-item
                                - }
                            //end .subcategory__body
                            .subcategory__pagination
                                .pagination
                                    a.pagination__prev(href="#")
                                    .pagination__pages
                                        a.pagination__page.pagination__page_active(href="#") 1
                                        a.pagination__page(href="#") 2
                                        a.pagination__page(href="#") 3
                                        span.pagination__page.pagination__page_span ...
                                        a.pagination__page(href="#") 9
                                    a.pagination__next(href="#")
                                //end .pagination
                            //end .subcategory__pagination
                        //end .subcategory
                    //end .r-content
                //end .with-menu
            //end .inner-page
    //end workarea