extends core/_template

append sharedVars
    - var activeMenu = 'Контакты';

block title
    title Контакты

block content
    //workarea
    .workarea
        .container
            .breadcrumbs
                .breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link_home(href="/")
                .breadcrumbs__item(href="#")
                    a.breadcrumbs__link О компании
                .breadcrumbs__current
                    span Контакты
            //end .breadcrumbs
        .container-h
            .inner-page
                .contacts-page
                    .contacts-page__h1
                        h1 Контактная информация
                    .contacts-page__map
                        .contacts-map-w
                            .contacts-map
                                #contacts-map
                            .contacts-addr
                                .contacts-addr__img(style="background-image:url('images/TEMP/2.jpg')")
                                .contacts-addr__body
                                    .contacts-addr__addr ул. Выучейского д. 57 / 2
                                    .contacts-addr__vhod 1 этаж, вход с торца
                                    .contacts-addr__time
                                        .contacts-addr__time-d.
                                            пн-пт:<br>
                                            сб:
                                        .contacts-addr__time-t.
                                            10:00 - 18:00<br>
                                            10:00 - 14:00
                                    .contacts-addr__pep
                                        .contacts-addr__pep-n Савченко Татьяна Ивановна
                                        .contacts-addr__pep-d руководитель компании
                                    .contacts-addr__tel +7 (921) 720-81-58
                                    .contacts-addr__mail
                                        a(href="mailto:savchenko007@inbox.ru") savchenko007@inbox.ru
                                .contacts-addr__btn
                                    a.btn.btn_s.btn-green(href="#")
                                        span.w-addr Адреса офисов
                    //end .contacts-page__map
                    .contacts-page__banner
                        .banner(style="background-image:url('images/banner2.png')")
                            .banner__txt.banner__txt_2 ответственность, целеустремленность, коммуникабельность
                            .banner__btn
                                a.btn.btn_l.btn-red(href="#") наши сотрудники
                    //end .contacts-page__banner
                    .contacts-page__feedback
                        .feedback
                            .feedback__header
                                .feedback__h Напишите нам
                            //end .feedback__header
                            .feedback__body
                                form.form
                                    .form__row
                                        .form__col(style="width:260px;")
                                            .form__label
                                                .label-ttl.label-ttl_gray Ваше имя
                                                .label-req.label-req_gray обязательно
                                            input.input.input_gray(type="text")
                                        .form__col(style="width:190px;")
                                            .form__label
                                                .label-ttl.label-ttl_gray Телефон
                                                .label-req.label-req_gray обязательно
                                            input.input.input_gray#phone(type="text" placeholder="+7 (___) ___-__-__")
                                        .form__col(style="width:260px;")
                                            .form__label
                                                .label-ttl.label-ttl_gray Электронная почта
                                            input.input.input_gray(type="text")
                                    .form__row
                                        .form__col(style="width:100%")
                                            .form__label
                                                .label-ttl.label-ttl_gray Сообщение
                                                .label-req.label-req_gray обязательно
                                            textarea.textarea.textarea_gray(style="height:160px;")
                                    .form__row
                                        .form__checkbox
                                            input.checkbox(type="checkbox" id="chb")
                                            label.checkbox-label.checkbox-label_gray(for="chb") Отправляя заявку, я <a href="#">соглашаюсь на обработку персональных данных</a>, в соответствии с <a href="#">политикой конфиденциальности</a>
                                        .form__btn
                                            button.btn.btn_m.btn_80.btn-red(type="submit")
                                                span.send-icon Отправить
                                //end form
                            //end .feedback__body
                        //end .feedback
                    //end .contacts-page__feedback

                    //map script
                    include blocks/_contacts-map
                    //end map script
                //end .contacts-page
            //end .inner-page
    //end workarea