extends core/_template

append sharedVars
    - var activeMenu = 'Наши сотрудники';

block title
    title Наши сотрудники

block content
    //workarea
    .workarea
        .container
            .breadcrumbs
                .breadcrumbs__item
                    a.breadcrumbs__link.breadcrumbs__link_home(href="/")
                .breadcrumbs__item(href="#")
                    a.breadcrumbs__link О компании
                .breadcrumbs__current
                    span Наши сотрудники
            //end .breadcrumbs
        .container-h
            .inner-page
                .pers-1
                    .bl4
                        .bl4__img(style="background-image:url('images/TEMP/2.jpg')")
                        .bl4__content
                            .bl4__ttl Полностью отдаем себя работе, для нас нет невыполнимых задач
                            .bl4__txt
                                p Наверное, мы несколько субъективны, но мы считаем, что наши сотрудники —  это самые потрясающие люди из всех, кого мы когда-либо встречали.

                                p Наш успех зависит от их таланта и целеустремленности. Они полностью отдают  себя работе, невыполнимых задач для них просто не существует. Мы благодарны  за их постоянный вклад и стремление создать идеальные условия для работы нашей глобальной команды.низкий порог минимального заказа, который позволит вам закупить в склад именно столько товара, сколько требуется.
                    //end .bl4
                //end pers-1
                .pers-2
                    .person
                        .person__item
                            .person__nb
                                .person__foto(style="background-image:url('images/TEMP/foto1.jpg')")
                                .person__fio Дементьева Полина<br>Антоновна
                                .person__d Генеральный директор
                            .person__cb
                                .person__mail
                                    a(href="mailto:kindsun11@example.com") kindsun11@example.com
                                .person__tel +7 (495) 901-71-40
                        //end .person__item
                        .person__item
                            .person__nb
                                .person__foto(style="background-image:url('images/TEMP/foto3.jpg')")
                                .person__fio Антонов Василий<br>Ярославович
                                .person__d Начальник отдела рекламы и маркетинга
                            .person__cb
                                .person__mail
                                    a(href="mailto:kindsun11@example.com") kindsun11@example.com
                                .person__tel +7 (495) 901-71-40
                        //end .person__item
                        .person__item
                            .person__nb
                                .person__foto(style="background-image:url('images/TEMP/foto2.jpg')")
                                .person__fio Антонов Василий<br>Ярославович
                                .person__d Начальник отдела рекламы и маркетинга
                            .person__cb
                                .person__mail
                                    a(href="mailto:kindsun11@example.com") kindsun11@example.com
                                .person__tel +7 (495) 901-71-40
                        //end .person__item
                        .person__item
                            .person__nb
                                .person__foto(style="background-image:url('images/TEMP/foto1.jpg')")
                                .person__fio Дементьева Полина<br>Антоновна
                                .person__d Генеральный директор
                            .person__cb
                                .person__mail
                                    a(href="mailto:kindsun11@example.com") kindsun11@example.com
                                .person__tel +7 (495) 901-71-40
                        //end .person__item
                        .person__item
                            .person__nb
                                .person__foto(style="background-image:url('images/TEMP/foto3.jpg')")
                                .person__fio Антонов Василий<br>Ярославович
                                .person__d Начальник отдела рекламы и маркетинга
                            .person__cb
                                .person__mail
                                    a(href="mailto:kindsun11@example.com") kindsun11@example.com
                                .person__tel +7 (495) 901-71-40
                        //end .person__item
                        .person__item
                            .person__nb
                                .person__foto(style="background-image:url('images/TEMP/foto2.jpg')")
                                .person__fio Антонов Василий<br>Ярославович
                                .person__d Начальник отдела рекламы и маркетинга
                            .person__cb
                                .person__mail
                                    a(href="mailto:purplebutterfly80@example.com") purplebutterfly80@example.com
                                .person__tel +7 (495) 901-71-40
                        //end .person__item
                        .person__item
                            .person__nb
                                .person__foto(style="background-image:url('images/TEMP/foto3.jpg')")
                                .person__fio Антонов Василий<br>Ярославович
                                .person__d Начальник отдела рекламы и маркетинга
                            .person__cb
                                .person__mail
                                    a(href="mailto:kindsun11@example.com") kindsun11@example.com
                                .person__tel +7 (495) 901-71-40
                        //end .person__item
                        .person__item
                            .person__nb
                                .person__foto(style="background-image:url('images/TEMP/foto2.jpg')")
                                .person__fio Антонов Василий<br>Ярославович
                                .person__d Начальник отдела рекламы и маркетинга
                            .person__cb
                                .person__mail
                                    a(href="mailto:kindsun11@example.com") kindsun11@example.com
                                .person__tel +7 (495) 901-71-40
                        //end .person__item
                    //end .person
                //end .pers-2
            //end .inner-page


    //end workarea